body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

.container {
    text-align: center;
  }
  
h1 {
    width: 0 auto;
    margin: 0 auto ;
    font-family: "Arial", sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
  }
    
  .site-nav {
    min-width: 550px;
    height: 90px;
    padding-top: 30px;
    background: #ff3b3b;
    background-size: cover;
    color: #ffffff;
  }

  .site-nav p {
    width: 0 auto;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    line-height: 30px;
  }

  .information {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }
  
  .skills {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .skills p {
    font-style: italic;
  }

  .samplecode {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .samplecode nav {
    position: relative;
    max-width: 280px;
    background: #ff3b3b;
    color: #ffffff;
    padding: 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 30px;
    margin: 20px auto 0;
    z-index: 10;
  }
  
  .samplecode__name nav {
    padding: 0 0 20px 0;
    margin: 0;
    display: block;
    width: 100%;
  }
  
  .samplecode__position nav {
    margin-bottom: 20px;
  }
  
  .samplecode__text nav {
    font-style: italic;
  }

  .experience {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .education {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .education p {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }

  .level {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .contacts {
    width: 700px;
    margin: 0 auto 30px;
    padding: 0 20px;
  }
  
.site-footer {
  min-width: 500px;
  background-color: #ff3b3b;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}
